.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    min-height: 293px;                   /* исправлено после ревью: свойство height заменено на min-height */
    align-items: center;
    padding: 0;
    grid-template-areas:
    "menu logo contact";
}

.header__menu {
    grid-area: menu;
}

.header__links-list {
    display: inline-flex;
    gap: 33px;
    padding-left: 50px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item:first-of-type { /* исправлено после ревью: использован метод first-of-type для удаления маркера у первого элемента меню */
    list-style: none;
}

/* .header__links-list-item_no-bullit {     исправлено после ревью: изначальное решение по удалению маркера у первого элемента меню через отдельный класс 
    list-style: none;
}*/

.header__link {
    font-size: 18px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    grid-area: logo;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-size: 18px;
    font-style: normal;
    list-style: none;
    line-height: 24.3px;
}

.header__address {
    grid-area: contact;
    padding-right: 50px;
    max-width: 290px;                    /* исправлено после ревью: свойство width заменено на max-width */
    justify-self: end;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 757px;                   /* исправлено после ревью: свойство height заменено на min-height */
    margin-bottom: 180px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-color: #000;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 385px; */                 /* исправлено после ревью: удалено свойство height: 385px */
    margin: 165px 50px 0 50px;
    z-index: 1;
}

.aligned-text {
    font-size: 100px;
    font-weight: 700;
}

.aligned-text_center {
    text-align: center;
    margin: 18px;                        /* добавил отступ между строками */
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 50px 50px;
    /* height: 51px; */                  /* исправлено после ревью: удалено свойство height: 51px */
    z-index: 1;
}

.cover__description-text {
    word-spacing: 19px;
    font-size: 22px;
    font-weight: 400;
}

.bet-button {
    padding: 0;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.bet-button:hover {                      /* исправлено после ревью: стилизована кнопка при наведении курсора */
    font-size: 24px;
}

.lots {
    min-height: 723px;                   /* исправлено после ревью: свойство height заменено на min-height */
    margin: 0 24px 155px 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 27px 0 30px 0;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 596px;                   /* исправлено после ревью: свойство height заменено на min-height */
    position: relative;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__title {
    text-transform: uppercase;
    text-decoration : underline;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    margin-block: 0;
}

.card__text {
    font-weight: 400;
    z-index: 1;
    font-size: 20px;
    margin-block: 0;
    line-height: 120%;
}

.lots__look-more-link {
    text-decoration: underline;
    font-size: 20px;
    padding-left: 40px;
}

.about {
    min-height: 595px;                   /* исправлено после ревью: свойство height заменено на min-height */
    padding: 0 24px;
    margin-bottom: 147px;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas:
    "logo title"
    ". text";
}

.about__logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px; 
    height: 240px;
    background: #000;
    border-radius: 50%;
    place-self: center;      
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    align-self: center;
    grid-area: title;
    text-transform: uppercase;
    font-size: 40px;
}

.about__text {
    grid-area: text;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 180px;                   /* исправлено после ревью: свойство height заменено на min-height */
    grid-template-areas:
    "contact menu social-natwork";
}

.footer__address {
    grid-area: contact;
    justify-self: start;
    padding-left: 50px;
}

.footer__menu {
    grid-area: menu;
}

.footer__menu-list {
    place-items: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    padding-right: 50px;
    gap: 48px;
    grid-area: social-natwork;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    background-color: transparent;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
